<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Url Shortener - Fastify & Prisma</title>
  <meta name="description" content="Demo URL shortener app w/ fastify and prisma">
  <link rel="stylesheet" href="public/style.css">
  <link rel="icon" sizes="192x192" href="/favicon.png">
</head>

<body>
<main>
  <h1>Created!</h1>

  <p>
    <%= new_url %>: <%= mapped_url %>
  </p>

</main>
</body>
</html>
