<html>
<body>
<h1>
Create a new short url
</h1>

<p>
  <%= text %>
</p>

<form method="post" action="/">
  <label for="url">URL to shorten</label>
  <input type="text" name="url" id="url" />
  <button>Create</submit>
</form>

</body>
</html>
