<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Url Shortener - Spring Boot</title>
  <meta name="description" content="Demo URL shortener app w/ Spring Boot">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" sizes="192x192" href="/favicon.png">
</head>

<body>
<main>
  <h1>Edit</h1>

  <h3>This url: <span th:text="${url.shortenedUrl}">Error: should be a url</span></h3>
  <h3>Redirects to: <span th:text="${url.original}">Error: should be the original Url</span></h3>

  <p>Edit the short name:</p>
  <div>
    <form method="post">
      <span th:text="${hostname}">hostname/</span>/
      <input type="text" name="shortened" th:value="${url.shortened}"></input>
      <button>Save</button>
    </form>
  </div>

  <div th:if="${error}" class="error">
    <strong>Error</strong>: <span th:text="${error}">error<span>
  </div>

  
  <form method="post" th:action="@{/urls/delete/{s}(s=${url.shortened})}"><button>Delete</button></form>

  <p><a href="/">Create another</a></p>
  <p><a href="/urls">View all</a></p>

</main>
</body>
</html>
