<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Url Shortener - Go</title>
  <meta name="description" content="Demo URL shortener app w/ go">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="icon" sizes="192x192" href="/public/favicon.png">
</head>

<body>
<main>
  <h1>Edit</h1>

  <h3>This url: <span>{{ .ShortURL }}</span></h3> 
  <h3>Redirects to: <span>{{ .Original }}</span></h3>

  <p>Edit the short name:</p>
  <div>
    <form method="post">
      {{ .Hostname }}
      <input type="text" name="shortened" value="{{ .Shortened }}"></input>
      <button>Save</button>
    </form>
  </div>

  <form method="post" action="/urls/delete/{{ .Shortened }}"><button>Delete</button></form>

  <p><a href="/">Create another</a></p>
  <p><a href="/urls">View all</a></p>

</main>
</body>
</html>
